button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
}